
@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="dashboard-content">
    <h3 class="page-title">User Profile</h3>

    <div class="table-card">
        <div class="table-header">
            <div class="table-header-left">
                <h3 class="table-title">User Data Details</h3>
                       
            </div>
           
        </div>
        
    </div>
</div>